footer.main-footer
 div.float-right.d-none.d-sm-inline Data Source : National Laboratory Data Repository
 strong Copyright &copy; 2020 
  a(href='#') Ministry Of Health
aside.control-sidebar.control-sidebar-dark
 .p-3
  h5 Title
  p SideBar content