script(type='text/javascript', src='/plugins/jQuery/jquery.min.js')
script(type='text/javascript', src='/plugins/bootstrap/js/bootstrap.bundle.min.js')
script(type='text/javascript', src='/plugins/moment/moment.min.js')
script(type='text/javascript', src='/plugins/daterangepicker/daterangepicker.js')
script(type='text/javascript', src='/dist/js/adminlte.min.js')
script(type='text/javascript', src='/dist/js/sitejs.js')
script(type='text/javascript', src='plugins/jquery-knob/jquery.knob.min.js')
