script(type='text/javascript', src='/plugins/jQuery/jquery.min.js')
script(type='text/javascript', src='/plugins/bootstrap/js/bootstrap.bundle.min.js')
script(type='text/javascript', src='/plugins/moment/moment.min.js')
script(type='text/javascript', src='/plugins/daterangepicker/daterangepicker.js')
script(type='text/javascript', src='/dist/js/adminlte.min.js')
script(type='text/javascript', src='/dist/js/sitejs.js')
script(type='text/javascript', src='/dist/js/pace.min.js')
script(type='text/javascript', src='/plugins/jquery-knob/jquery.knob.min.js')
script(type='text/javascript', src='/plugins/Chart.js/Chart.min.js')
script(type='text/javascript', src='plugins/datatables/jquery.dataTables.min.js')
script(type='text/javascript', src='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')
script(type='text/javascript', src='https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js')
script(type='text/javascript', src='https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js')
script(type='text/javascript', src='https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js')
