aside.main-sidebar.sidebar-light-cyan.elevation-4
 a.brand-link(href='/')
  img.brand-image.img-circle.elevation-3(src='/dist/img/coa.jpg' alt='Coat of Arms',style='opacity: .8')
  span.brand-text.font-weight-light LIS Dashboard

 .sidebar
  //.user-panel.mt-3.pb-3.d-flex
   .image
    img.img-circle.elevation-2(src='dist/img/user2-160x160.jpg', alt='User Image')
   .info
    a.d-block(href='#') Alexander Pierce
  nav.mt-2
   ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview',role='menu',data-accordion='false')
    li.nav-item.has-treeview.menu-open
     a.nav-link.active(href='#')
      i.nav-icon.fas.fa-tachometer-alt
      p Viral Load (VL)
       i.right.fas.fa-angle-left
     ul.nav.nav-treeview
      li.nav-item
       a.nav-link.active(href='/')
        i.far.fa-circle.nav-icon.text-info
        p Summary Statistics
      //li.nav-item
       a.nav-link(href='/vllists')
        i.far.fa-circle.nav-icon.text-info
        p Test Statistics (Listed)
      li.nav-item
       a.nav-link(href='/')
        i.far.fa-circle.nav-icon.text-info
        p Laboratory Statistics
      //li.nav-item
       a.nav-link(href='/vlclients')
        i.far.fa-circle.nav-icon.text-info
        p VL Client Statistics
      li.nav-item
       a.nav-link(href='/')
        i.far.fa-circle.nav-icon.text-info
        p Trends
    li.nav-item.has-treeview
     a.nav-link.active(href='#')
      i.nav-icon.fas.fa-tachometer-alt
      p EID
       i.right.fas.fa-angle-left
     ul.nav.nav-treeview
      li.nav-item
       a.nav-link(href='/eidtests')
        i.far.fa-circle.nav-icon.text-info
        p Test Statistics
      li.nav-item
       a.nav-link(href='/')
        i.far.fa-circle.nav-icon.text-info
        p Trends
      li.nav-item
       a.nav-link(href='/')
        i.far.fa-circle.nav-icon.text-info
        p Lists
    li.nav-item
     a.nav-link(href='#')
      i.nav-icon.fas.fa.th
      p Documentation
       span.right.badge.badge-danger New